﻿
@{
    ViewData["Title"] = "JsonTest";
}

<h1>JsonTest</h1>
<ul id="employeeList">

</ul>

<div class="card-group">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        console.log(spots.CommonFormat.Section);
        const 

        // const emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
        // { "name": "Jack", "workYears": 5, "salary": 40000 },
        // { "name": "Mary", "workYears": 7, "salary": 45000 }];

        // const emp = {
        //     "employees": [
        //         { "name": "Tom", "workYears": 3, "salary": 35000 },
        //         { "name": "Jack", "workYears": 5, "salary": 40000 },
        //         { "name": "Mary", "workYears": 7, "salary": 45000 }
        //     ]
        // }
        // for (let i = 0, max = emps.length; i < max;i++ ) 
        // {
        //     console.log(emps[i].name)
        //     console.log(emps[i].workYears)
        //     console.log(emps[i].salary)
        // }

        // emps.forEach(emp => 
        //     {
        //         console.log(emp.name)
        //         console.log(emp.workYears)
        //         console.log(emp.salary)
        //     })

        //console.log(emps);

        //讀取JSON資料

        //顯示在網頁上

    </script>
}